



#rectangle2 {
    position: absolute;
    top: 13px;
    left: 8px;
    margin:auto;

     height: 40px;
     width: 200px;
     background-color: #c71414;
     border: 4px solid black;
      
   
   }

   #rectangle3 {
    position: absolute;
     top: 53px;
     left: 8px;
     margin:auto;
     height: 40px;
     width: 200px;
     background-color: #c71414;
     border: 4px solid black   
   
   
   }
   
   #rectangle4 {
       position: absolute;
       top: 93px;
       left: 8px;        margin:auto;
        height: 40px;
        width: 200px;
        background-color: #c71414;
        border: 4px solid black   
      
      }
      #rectangle5 {
        position: absolute;
        top: 133px;
        left: 8px;       
         margin:auto;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle6 {
        position: absolute;
        top: 173px;
        left: 8px;       
         margin:auto;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle7 {
        position: absolute;
        bottom: 213px;
        left: 8px;       
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       



#rectangle8 {
    position: absolute;
    bottom: 13px;
    left: 8px;
     margin:auto;
     height: 40px;
     width: 200px;
     background-color: #c71414;
     border: 4px solid black   
   
   }

   #rectangle9 {
    position: absolute;
     bottom: 53px;
     left: 8px;
     margin:auto;
     height: 40px;
     width: 200px;
     background-color: #c71414;
     border: 4px solid black   
   
   
   }
   
   #rectangle10 {
       position: absolute;
       bottom: 93px;
       left: 8px;        margin:auto;
        height: 40px;
        width: 200px;
        background-color: #c71414;
        border: 4px solid black   
      
      }
      #rectangle11 {
        position: absolute;
        bottom: 133px;
        left: 8px;       
         margin:auto;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle12 {
        position: absolute;
        bottom: 173px;
        left: 8px;       
         margin:auto;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle13 {
        position: absolute;
        top: 53.8%;
        left: 0.6%;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle14 {
        position: absolute;
        top: 47%;
        left: 0.6%;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle15 {
        position: absolute;
        top: 40.2%;
        left: 0.6%;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }
       #rectangle16 {
        position: absolute;
        top: 33.4%;
        left: 0.6%;
         height: 40px;
         width: 200px;
         background-color: #c71414;
         border: 4px solid black   
       
       }